<!--
████████╗ ██████╗ ██████╗     ████████╗ ██████╗  ██████╗ ██╗     ██████╗  █████╗ ██████╗
╚══██╔══╝██╔═══██╗██╔══██╗    ╚══██╔══╝██╔═══██╗██╔═══██╗██║     ██╔══██╗██╔══██╗██╔══██╗
   ██║   ██║   ██║██████╔╝       ██║   ██║   ██║██║   ██║██║     ██████╔╝███████║██████╔╝
   ██║   ██║   ██║██╔═══╝        ██║   ██║   ██║██║   ██║██║     ██╔══██╗██╔══██║██╔══██╗
   ██║   ╚██████╔╝██║            ██║   ╚██████╔╝╚██████╔╝███████╗██████╔╝██║  ██║██║  ██║
   ╚═╝    ╚═════╝ ╚═╝            ╚═╝    ╚═════╝  ╚═════╝ ╚══════╝╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝

 -->
 <ejs-appbar colorMode="Primary" style="height: 60px;">

	<!-- TOP MENU -->
	<div class="toolbarContent">

		<div style="display: flex; justify-content: flex-start; align-items: center; gap: 15px;">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><path fill="#fff" d="M296 464a23.9 23.9 0 0 1-7.55-1.23L208.3 436.1a23.92 23.92 0 0 1-16.3-22.78V294.11a.4.4 0 0 0-.09-.13L23.26 97.54A30 30 0 0 1 46.05 48H466a30 30 0 0 1 22.79 49.54L320.09 294a1 1 0 0 0-.09.13V440a23.93 23.93 0 0 1-24 24"/></svg>
			<span>Photonic Funnel</span>

			<!-- Projects -->
			<ejs-tooltip #tooltip content="{{'PROJEKTE_tooltip' | translate}}">
				<button
					ejs-button
					cssClass="e-small e-round"
					[isPrimary]="true"
					class="toolbarButton"
					routerLink="/projects"
				>
					<svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M3.5 1.5a3 3 0 0 0-3 3V11a3 3 0 0 0 3 3h9a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3h-5l-.621-.621A3 3 0 0 0 4.757 1.5zm1.25 5a.75.75 0 0 0 0 1.5h6.5a.75.75 0 0 0 0-1.5z" clip-rule="evenodd"/></svg>
				</button>
			</ejs-tooltip>

			<!-- Programmer -->
			<ejs-tooltip #tooltip content="{{'Programmierer' | translate}}">
				<button
					ejs-button
					cssClass="e-small e-round"
					[isPrimary]="true"
					class="toolbarButton"
					routerLink="/programmer"
				>
				<svg xmlns="http://www.w3.org/2000/svg" width="2.5em" height="2em" viewBox="0 0 640 512"><path fill="#fff" d="M320 0c17.7 0 32 14.3 32 32v64h120c39.8 0 72 32.2 72 72v272c0 39.8-32.2 72-72 72H168c-39.8 0-72-32.2-72-72V168c0-39.8 32.2-72 72-72h120V32c0-17.7 14.3-32 32-32M208 384c-8.8 0-16 7.2-16 16s7.2 16 16 16h32c8.8 0 16-7.2 16-16s-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16s7.2 16 16 16h32c8.8 0 16-7.2 16-16s-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16s7.2 16 16 16h32c8.8 0 16-7.2 16-16s-7.2-16-16-16zM264 256a40 40 0 1 0-80 0a40 40 0 1 0 80 0m152 40a40 40 0 1 0 0-80a40 40 0 1 0 0 80M48 224h16v192H48c-26.5 0-48-21.5-48-48v-96c0-26.5 21.5-48 48-48m544 0c26.5 0 48 21.5 48 48v96c0 26.5-21.5 48-48 48h-16V224z"/></svg>
				</button>
			</ejs-tooltip>
		
			<!-- UI Editor -->
			<ejs-tooltip #tooltip content="UI Editor">
				<button
					ejs-button
					cssClass="e-small e-round"
					[isPrimary]="true"
					class="toolbarButton"
					routerLink="/uieditor"
					>
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#fff" d="M3 17.25V21h3.75L17.81 9.93l-3.75-3.75zm19.61 1.11l-4.25 4.25l-5.2-5.2l1.77-1.77l1 1l2.47-2.48l1.42 1.42L18.36 17l1.06 1l1.42-1.4zm-16-7.53L1.39 5.64l4.25-4.25L7.4 3.16L4.93 5.64L6 6.7l2.46-2.48l1.42 1.42l-1.42 1.41l1 1zM20.71 7c.39-.39.39-1 0-1.41l-2.34-2.3c-.37-.39-1.02-.39-1.41 0l-1.84 1.83l3.75 3.75z"/></svg>
				</button>
			</ejs-tooltip>
		</div>

		<!-- <span>{{projectService.clickedProject}}</span> -->

		<div style="display: flex; align-items: center;">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#fff" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"/></svg>
			<span style="width: 10px;"></span>
			{{firstName}} {{lastName}}
			<span style="width: 10px;"></span>
			<ejs-dropdownlist
				(change)="translationService.setLanguage($event)"
				[value]="translationService.currentLang"
				[dataSource]="translationService.languages"
				style="color: white; width: 50px;"
			>
			</ejs-dropdownlist>
		</div>

	</div>
</ejs-appbar>
<!-- ############### END TOP TOOLBAR ############### -->

<!--
██████╗  ██████╗ ██╗   ██╗████████╗███████╗██████╗      ██████╗ ██╗   ██╗████████╗██╗     ███████╗████████╗
██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝██╔════╝██╔══██╗    ██╔═══██╗██║   ██║╚══██╔══╝██║     ██╔════╝╚══██╔══╝
██████╔╝██║   ██║██║   ██║   ██║   █████╗  ██████╔╝    ██║   ██║██║   ██║   ██║   ██║     █████╗     ██║
██╔══██╗██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗    ██║   ██║██║   ██║   ██║   ██║     ██╔══╝     ██║
██║  ██║╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║    ╚██████╔╝╚██████╔╝   ██║   ███████╗███████╗   ██║
╚═╝  ╚═╝ ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝     ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚══════╝   ╚═╝

 -->
<router-outlet></router-outlet>
