<ejs-tooltip #tooltip content="{{ 'Rückgängig machen' | translate }}">
	<button (click)="undo()"
		ejs-button cssClass="e-small e-flat"
		class="toolbarButton"
		color="accent"
		[disabled]="!canUndo || commandManager.busy"
	>
		<svg *ngIf="!canUndo || commandManager.busy" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#a6a6a6" d="M12.5 8c-2.65 0-5.05.99-6.9 2.6L2 7v9h9l-3.62-3.62c1.39-1.16 3.16-1.88 5.12-1.88c3.54 0 6.55 2.31 7.6 5.5l2.37-.78C21.08 11.03 17.15 8 12.5 8"/></svg>
		<svg *ngIf="canUndo && !commandManager.busy" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#000" d="M12.5 8c-2.65 0-5.05.99-6.9 2.6L2 7v9h9l-3.62-3.62c1.39-1.16 3.16-1.88 5.12-1.88c3.54 0 6.55 2.31 7.6 5.5l2.37-.78C21.08 11.03 17.15 8 12.5 8"/></svg>
	</button>
</ejs-tooltip>

<ejs-tooltip #tooltip content="{{ 'Wiederholen' | translate }}">
	<button (click)="redo()"
		ejs-button cssClass="e-small e-flat"
		class="toolbarButton"
		color="accent"
		[disabled]="!canRedo || commandManager.busy"
	>
		<svg *ngIf="!canRedo || commandManager.busy" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#a6a6a6" d="M18.4 10.6C16.55 8.99 14.15 8 11.5 8c-4.65 0-8.58 3.03-9.96 7.22L3.9 16a8 8 0 0 1 7.6-5.5c1.95 0 3.73.72 5.12 1.88L13 16h9V7z"/></svg>
		<svg *ngIf="canRedo && !commandManager.busy" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#000" d="M18.4 10.6C16.55 8.99 14.15 8 11.5 8c-4.65 0-8.58 3.03-9.96 7.22L3.9 16a8 8 0 0 1 7.6-5.5c1.95 0 3.73.72 5.12 1.88L13 16h9V7z"/></svg>
	</button>
</ejs-tooltip>